*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/* header superior */

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:#fff;
}

.header_superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px   
}

.logo img{
    width: 60px;
}

.search input{
    width: 250px;
    padding: 5px;
}

/*BARRA MENU*/
.container_menu{
    width: 100%;
    height: 50px;
    background-color:#015668 ;
    padding:0px 40px;
}

.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav{
    height: 100%;
}

nav > ul{
    height: 100%;
    display: flex;
}

nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}

nav > ul > li:first-child > a{
    background-image: url(../imagenes/white-house-clipart-icon-white-house-icon-1033581.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 30px;

}

nav > ul > li:first-child:hover > a{
    background-image: url(../imagenes/white-house-clipart-icon-white-house-icon-1033581.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 30px;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 300ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.1);
    background-color:#06648C;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;
}

#selected{
    /* transform: scale(1.1); */
    background-color:#06648C;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5) ;
}

/*submenu*/

nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position:absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;

}

nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: #47B5FF;
    padding: 6px;
    padding-left: 10px;
    margin-top: 12px;
    text-transform: uppercase;
    transition: all 300ms ease;
    font-size: 12px;
}

nav ul li ul li:hover{
    background-color:#DFF6FF;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*articulo*/
main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
}

article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}

article p{
    margin-top: 20px;
    font-size:18px;
    font-weight: 300;
}




/*elementos responsivos*/
.icon_menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
   
}
#label_check{
    width: 26px;
    height: 100%;
    display: none;
}


#check_menu{
    display: none;
}

@media screen and (max-width: 720px){
    .search input{
        display: none;
    }
    .header_superior{
        padding: 10px;
    }
    .logo img{
        width: 50px;
    }

    nav > ul{
        flex-direction: column;
        background-color: #06283D;
        position: fixed;
        left: 0;
        top: 120px;
        width: 100%;
        height: 0;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    
    nav > ul > li > a{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav ul li:hover ul{
        top: 50px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    #label_check{
        display: block;
    }

    .icon_menu{
        display: flex;
    }

    #check_menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    main{
        margin-top:120px;
    }
    

}